<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="0.9">
  <dict>
    <key>Label</key>
    <string>ch.usi.notify</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/lara/Documents/USI/ProgFund1/Repos/Project/scripts/notify.sh</string>
    </array>
    <key>StartCalendarInterval</key>
      <dict>
        <key>Hour</key>
          <integer>0</integer>
        <key>Minute</key>
          <integer>0</integer>
      </dict>
  </dict>
</plist>
